@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Razvojni mod</h3>
<p>
    Prelaz u <strong>razvojni</strong>  mod prikazuje detaljne informacije o grešci koja se dogodila.
</p>
<p>
    <strong>Razvojni mod ne bi trebao biti aktiviran kod objavljenih aplikacija.</strong>
    Može doći do to toga da krajnji korisnik pristupi osjetljivim informacijama.
    Za debug koda uključite <strong>razvojni</strong> mod promjenom postavki <strong>ASPNETCORE_ENVIRONMENT</strong> varijable u <strong>Development</strong>
    i restart-om aplikacije.
</p>
