@model SetPasswordViewModel
@{ ViewData["Title"] = "Postavka lozinke";
                ViewData.AddActivePage(ManageNavPages.ChangePassword); }

<h4>Postavite lozinku</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    Nemate korisničko i/lozinku za ovaj site. Dodajte lokalni račun kako ne bi morali uraditi eksternu prijavu.
</p>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Spremite lozinku</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

